.upper_Right_upper {
    background-color: #a3d5ff;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .parentContainerURU{
    width: 100%;
}

@media screen and (max-width: 1200px) {
  .parentContainerURU{
    height: 9rem;
  }
}

@media screen and (max-width: 768px) {
    .upper_Right_upper {
      padding: 15px;
    }
  }